.userTableApp {
    height: 100vh;
    align-items: center;
}

.userTableSection {
    background-color: #ffffff;
}

@media (max-width: 1060px) {
    .userTableSection {
        width: auto;
        align-items: center;
        display: flex;
        flex-direction: column;
    }
}

@media (min-width: 1060px) {
    .userTableApp {
        justify-content: center;
        background-color: #1976d2;
        display: flex;
        text-align: center;
    }

    .userTableSection {
        width: auto;
    }
}





 